header h2 {
    display: inline;
}

header .button {
    display: inline-block;
    position: relative;
    left: 65%;
    margin-left: 8px;
}

header #manual {
    font-size: 14px;
    margin-left: 1.5rem;
}

.executivesbox {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: "img what";
    grid-template-columns: 1fr 2fr;
    margin-bottom: 70px;
}

.exwhat {
    grid-area: what;
    font-size: 15px;
    position: inline;
    margin-top: 5%;
    margin-left: 105px;
}

.executivesbox img {
    grid-area: img;
    position: relative;
    display: inline-block;
    border-radius: 70%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 20%;
}

.exname {
    font-size: 23px;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
    font-weight: bold;
}

.exdetail {
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#dosikbox {
    top: 30px;
}

@media screen and (max-width: 980px) {
    header .button {
        display: inline-block;
        position: relative;
        left: 56%;
        margin-left: 8px;
        width: 80px;
        padding-left: 18px;
    }
}