
.content {
    animation: fadein 0.75s ease-out 0.4s;
    -moz-animation: fadein 0.75s ease-out 0.4s; 
    -webkit-animation: fadein 0.75s ease-out 0.4s; 
    -o-animation: fadein 0.75s ease-out 0.4s ;
} 

#bannerlogo {
    width: 100px;
    margin-top: -4px;
    margin-left: -14px;
}


    @keyframes fadein {
        0%{
          visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility:visible;

            opacity: 1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        0%{
          visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility:visible;
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        0%{
          visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility:visible;
            opacity: 1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        0%{
          visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility:visible;
            opacity: 1;
        }
    }
    



#m_home:hover::after{
    content:"\f2dc";
    font-family:"Font Awesome 5 Free";
    animation: fadein 0.7s;
}


#m_intro:hover::after{
    content:"\f15c";
    font-family:"Font Awesome 5 Free";
    animation: fadein 0.7s;
}

#m_executives:hover::after{
    content:"\f2b9";
    font-family:"Font Awesome 5 Free";
    animation: fadein 0.7s;
}

#m_calendar:hover::after{
    content:"\f073";
    font-family:"Font Awesome 5 Free";
    animation: fadein 0.7s;
}

#m_gallery:hover::after{
    content:"\f302";
    font-family:"Font Awesome 5 Free";
    animation: fadein 0.7s;
}

/* footer */
#footer{
    width: auto;
    height: 300px;
    display: grid;
    grid-template-areas:
		"where page"
		"where page"
        "corp corp";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;
}

#where{
    grid-area: where;
    padding-left: 8rem;
    font-size: 14px;
    border-right: 1px solid rgb(122, 121, 121);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page{
    grid-area: page;
    padding-top: 4rem;
    font-size: 14px;
    padding-left: 2.5rem;
}

#corp{
    grid-area: corp;
    text-align: center;
    margin-bottom: 10px;
    padding-top:7px;
    font-size: 10px;
    border-top: 1px solid rgb(122, 121, 121);
    margin-left: 6rem;
    margin-right: 6rem;

}