#bannerlogo {
    width: 100px;
    margin-top: -4px;
    margin-left: -14px;
}

.timebox{
    border: 2px black;
    border-radius: 1%;
    position: relative;
    background-color: rgb(15, 14, 14);
    width: 100%;

}

#content{
    position: relative;
    display: grid;


}

.tmmonth {
    font-size: 25px;
    text-align: center;
    position: inline;
    color: white;
    margin-top: 2%;

}
.timebox img{
    position: relative;
    width: 300px;
    height:200px;
    border: 3px solid white;
    z-index: 10;
    margin: 3%;
}

.tmwhat{
    position: absolute;
    right:15px;
}