#bannerlogo {
    width: 100px;
    margin-top: -4px;
    margin-left: -14px;
}

.timebox {
    border: 2px black;
    border-radius: 1%;
    position: relative;
    background-color: rgb(15, 14, 14);
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "what img";
    grid-auto-columns: 5fr 4fr;
    margin-bottom: 25px;
}

.timebox:nth-child(even){
    grid-template-areas:
        "header header"
        "img what";
    grid-auto-columns: 4fr 5fr;
}

#content{
    position: relative;
    display: grid;
    
}

.tmmonth {
    grid-area:header;
    font-size: 25px;
    text-align: center;
    position: inline;
    color: white;
    margin-top: 2%;

}
.timebox img {
    grid-area: img;
    position: relative;
    width: 80%;
    border: 3px solid white;
    z-index: 10;
    margin: 3%;
    display: inline-block;
    border-radius: 5%;
}

.timebox img:nth-child(even){
    margin-left: 10%;
}

.tmwhat {
    grid-area:what;
    position: relative;
    margin: 3%;
    display: inline-block;
}